.storageContainer {
    width: 100%;
    margin: 20px auto;
    background: #292929;
    border: 2px solid #555;
    border-radius: 8px;
    color: #fff;
}

.storageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
}

.storageHeader h2 {
    margin: 0;
    font-size: 1.25rem;
    letter-spacing: 0.0625rem;
}

.storageCount {
    font-size: .9rem;
    color: #ccc;
}

.storageControls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.storageSearch {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    margin: 10px;
}

.storageGridWrapper {
    padding: 10px;
    border: 1px solid #666;
    background-color: #383838;
    border-bottom: none;
    box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.3);
}

.storageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    gap: 5px;
}

.storageItem {
    width: 50px;
    height: 50px;
    border: 1px solid #666;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.storageItem img {
    max-width: 100%;
    max-height: 100%;
}

.storageItemAmount {
    position: absolute;
    bottom: 1px;
    right: 1px;
    background: rgba(0, 0, 0, 0.7);
    padding: 1px 3px;
    border-radius: 2px;
    font-size: 10px;
}

.storageItemEmpty {
    background-color: transparent;
    border: 1px dashed #666;
}

.storageTabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin: 0 10px 0 10px;
    height: 3rem;
}

.storageTab {
    align-content: center;
    text-align: center;
    cursor: pointer;
    width: 3rem;
    border: 1px solid #444;
    border-radius: 4px;
    margin: 0 5px;
    background: #292929;
    transition: all 0.3s ease;
}

.selectedTab {
    border: 1px solid #666;
    margin: 0 5px;
    background-color: #383838;
    border-bottom: none;
    box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.3);
}

.tabIcon {
    width: 32px;
    height: 32px;
}