#root {
    max-width: 1920px;
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    color: #343a40;
    text-align: left;
    background-color: #edf0f2;
    font-family: 'Exo', sans-serif;
    
}

@font-face {
    font-family: 'Exo';
    src: url(assets/fonts/Exo-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}